body {
  background-color: #ffe6e6;
  text-align: center;
  font-family: "Merriweather", serif;
  margin: 0;
  color: #40514e;
}

hr {
  width: 4%;
  border-style: dotted;
  border-width: 6px;
  border-bottom: none;
  border-color: #cdd6d6;
  margin: 75px auto;
}

h1 {
  color: #ff9f9f;
  font-size: 5.626rem;
  margin-top: 50px;
  margin-bottom: 0;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #ff9f9f;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  margin-top: 0;
}

h3 {
  color: #ee5c5c;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #e97777;
  font-family: "Montserrat", sans-serif;
}

a:hover {
  color: #ffe6e6;
}

p {
  margin: 20px 0 60px;
}

.about-me {
  width: 30%;
  margin: 0 auto;
  line-height: 2;
}

.top-container {
  background-color: #fff9f9;
  padding-top: 100px;
  padding-bottom: 25px;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #ffafaf;
  padding: 20px auto;
  height: 150px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 600px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.myAvatar {
  position: relative;
  top: 30px;
  margin-bottom: 60px;
  height: 150px;
  width: 150px;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.skills1 {
  background-color: #e6f8f9;
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skills2 {
  background-color: rgb(244, 244, 244);
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.mountain {
  height: 500px;
  width: 700px;
}

.btn {
  background: #f999b7;
  background-image: -webkit-linear-gradient(top, #f999b7, #f2789f);
  background-image: -moz-linear-gradient(top, #f999b7, #f2789f);
  background-image: -ms-linear-gradient(top, #f999b7, #f2789f);
  background-image: -o-linear-gradient(top, #f999b7, #f2789f);
  background-image: linear-gradient(to bottom, #f999b7, #f2789f);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
}

.btn:hover {
  background: #ff75a3;
  background-image: -webkit-linear-gradient(top, #ff75a3, #ff6196);
  background-image: -moz-linear-gradient(top, #ff75a3, #ff6196);
  background-image: -ms-linear-gradient(top, #ff75a3, #ff6196);
  background-image: -o-linear-gradient(top, #ff75a3, #ff6196);
  background-image: linear-gradient(to bottom, #ff75a3, #ff6196);
  text-decoration: none;
}

.contact-me {
  margin: 40px auto 60px;
  height: 250px;
  width: 40%;
}

.bottom-cred {
  position: relative;
  top: 50%;
  font-size: 0.75rem;
  color: #ffe6e6;
}

.footer-link {
  text-decoration: none;
  color: #ee5c5c;
  position: relative;
  top: 33%;
  margin: auto 25px;
}
